body{
  margin: auto;
}
h1 {
  color: purple;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
img {
  position: fixed;
  width: 10%;
  top:0px;
  right: 5px;
}
header{
  margin: auto;
  width: 95%;
  background-color: pink;
  text-align :center;
  padding :10px;
  border-radius: 20px;
}

section{
  margin: auto;
  width :46%;
  display :inline-block;
  padding-left: 15px;
  background-color:lightblue;
  vertical-align :top;
  margin-top :5px;
  margin-left: 1.8%;
  height: 1000px;
  border-radius: 10px;
}
section h2 {
  font-size: 1.2em;
  text-align: center;
  color: #339966;
}

footer {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
  background-color: lightgreen;
  text-align :center;
  padding :10px;
  border-radius: 5px;
}
