<!DOCTYPE html>
<html>
<head>
  <title>Found a new DBC Campus</title>
</head>
<body>
  <form action="/campuses" method="POST">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="state" placeholder="State">
    <button type="submit">Save</button>
  </form>
</body>
</html>