
#octopus {
  display: block;
  margin: 0 auto;
  padding-top: 80px;
}
#hat {
  position: absolute;
  display: block;
  left: 435px;
  top:15px;
}
#glasses {
  position: absolute;
  display: block;
  left: 493px;
  top: 186px;
}