#contact-info {
  font-size: .8em;

}
.job {
  background-color: #e9e5dc;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom:20px;
}
.accomplishment {
  font-size: .8em;

}

h2::first-letter {
  color: #ff0000;
  font-size: 1.5em;
}

ul > li {
  background-color: #32CD32;

}